@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
.hero {
	background: url(assets/Intersect.png) no-repeat;
	background-size: contain;
	background-position: right top;
	background-color: #ffd699;
	background-attachment: fixed;
}
.vr {
	opacity: 100%;
	width: 2px;
	height: 30px;
}
.navbar-nav .active {
	border-bottom: #ed8e00 solid 3px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Vidaloka", serif;
}
.heading1 {
	font-size: 80px;
}
.text-yellow {
	color: #ed8e00;
}
.heading2 {
	font-size: 70px;
}
.featured {
	height: 500px;
}
.featured img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.carousel-item {
	height: 500px;
}
.carousel-item img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 0;
}
.btn-yellow {
	background-color: #ed8e00;
	padding: 10px 40px;
	color: white;
	border: none;
	text-transform: uppercase;
}
.btn-underlined {
	padding: 3px 10px;
	border-bottom: #ed8e00 solid 3px;
	text-decoration: none;
	color: black;
}
.hex-number {
	font-size: 50px;
	position: relative;
	top: -95px;
	margin-left: 27px;
}
.heximg {
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	height: 160px;
	width: 150px;
}
.b-left{
	margin-top: 55px;
	color: rgba(0, 0, 0, 0.2);
}
.b-right{
	margin-top: 55px;
	color: #ed8e00;
}
.emailadd{
	border: 1px solid rgba(0, 0, 0, 0.5);
	width: 700px;
	height: 100px;
}
.emailadd::placeholder {
	font-size: 25px;
}
.navbar-items{
	display: flex;
	margin-left: 600px;
}